@font-face {
  font-family: "Masada-Bold";
  src: url("/fonts.Masada-Bold.otf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Masada-Medium";
  src: url("/fonts/Masada-Medium.otf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Masada-Light";
  src: url("/fonts/Masada-Light.otf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

.pageBackground {
  background-color: #314ff8; /* light blue */
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center; /* center white page horizontally */
  padding: 20px 0; /* top + bottom spacing */
}
.paperWrapper {
  position: relative;
  background: white;
  width: 90%; /* narrower page so blue shows on sides */
  max-width: 500px;
  min-width: 250px;
  font-family: "Masada-Bold", serif;
  /* margin-bottom: 20px; */
  /* padding: 10px; */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
}

.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.logo {
  position: relative;
  left: 5px;
  top: 81px;
  width: 40px;
  height: auto;
  margin: 0;
}

.mainTitle {
  font-family: "Masada-Medium";
  font-size: 60px;
  letter-spacing: 3px;
  color: #314ff8;
  font-weight: 800;
  margin-top: 50px;
}

.subtitle {
  font-family: "Masada-Light";
  position: relative;
  bottom: 20px;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 10%;
  color: #314ff8;
  margin: 0;
  font-weight: 500;
}

.aboutTitle {
  font-family: "Masada-Medium";
  position: relative;
  right: 45px;
  font-weight: 500; /* Medium */
  font-size: 32px;
  color: #000000;
  font-weight: 600;
  margin-top: 30px;
  text-align: left;
}

.paragraph {
  font-family: "Masada-Light";
  font-weight: 300;
  font-size: 17px;
  line-height: 18px; /* spacing between lines */
  color: #000000;
  width: 233px;
  height: 107px;
  margin: 0;
  text-align: left;
}

.aboutItem {
  /* display: flex; */
  align-items: flex-start;
  /* gap: 10px; */
  margin-top: 10px;
}

.aboutIcon {
  width: auto;
  height: auto;
  flex-shrink: 0; /* prevent icon from shrinking */
  position: relative;
}

.boatIcon {
  bottom: 25px;
  margin-top: 110px;
  margin-bottom: 50px;
}

.craneIcon {
  bottom: 15px;
  left: 100px;
  margin-bottom: 10px;
}

.cameraIcon {
  height: 200px;
  bottom: 25px;
  left: 7px;
  margin-top: 45px;
  margin-bottom: 30px;
}

.blobIcon {
  height: 150px;
  bottom: 40px;
  left: 7px;
  padding: 0;
  margin-top: 80px;
}

.stepTitle {
  font-family: "Masada-Medium";
  position: relative;
  right: 20px;
  font-weight: 550; /* Medium */
  font-size: 32px;
  line-height: auto; /* let the browser calculate */
  color: #000000;
  margin: 0 0 5px 0;
  text-align: left;
}

.sponsorRow {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-top: 30px;
}

.sponsorImage {
  width: 80px; /* small icon */
  height: auto;
  object-fit: contain;
  position: relative;
  left: 18px;
  top: 8px;
}

.sponsorText {
  font-family: "Masada-Light";
  font-size: 14px;
  font-weight: 300;
  color: #000000;
  margin: 0;
}

.sponsorLink {
  font-family: "Masada-Medium";
  color: #000000;
  text-decoration: none;
}

.sponsorLink:hover {
  text-decoration: underline;
}

.corner {
  width: 70px;
  height: 70px;
  position: absolute;
  background: white;
  cursor: pointer;
  overflow: hidden;
  z-index: 10;
}

.triangleBlue,
.triangleGray {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
  display: none;
}

.topLeft.folded .triangleBlue,
.topRight.folded .triangleBlue,
.bottomLeft.folded .triangleBlue,
.bottomRight.folded .triangleBlue {
  display: block;
}

.topLeft.folded .triangleGray,
.topRight.folded .triangleGray,
.bottomLeft.folded .triangleGray,
.bottomRight.folded .triangleGray {
  display: block;
}

.topLeft .triangleBlue {
  clip-path: polygon(0 0, 0 100%, 100% 0);
  background-color: #314ff8;
}
.topLeft .triangleGray {
  clip-path: polygon(100% 100%, 100% 0, 0 100%);
  background-color: rgb(204, 199, 199);
}

.topRight .triangleBlue {
  clip-path: polygon(0 0, 100% 0, 100% 100%);
  background-color: #314ff8;
}
.topRight .triangleGray {
  clip-path: polygon(0 0, 0 100%, 100% 100%);
  background-color: rgb(204, 199, 199);
}

.bottomLeft .triangleBlue {
  clip-path: polygon(0 0, 0 110%, 100% 100%);
  background-color: #314ff8;
}
.bottomLeft .triangleGray {
  clip-path: polygon(0 0, 100% 0, 100% 110%);
  background-color: rgb(204, 199, 199);
}

.bottomRight .triangleBlue {
  clip-path: polygon(0 110%, 100% 0, 100% 110%);
  background-color: #314ff8;
}
.bottomRight .triangleGray {
  clip-path: polygon(0 0, 100% 0, 0 110%);
  background-color: rgb(204, 199, 199);
}

.topLeft {
  top: 0;
  left: 0;
}
.topRight {
  top: 0;
  right: 0;
}
.bottomLeft {
  bottom: 0;
  left: 0;
}
.bottomRight {
  bottom: 0;
  right: 0;
}

@media (max-width: 480px) {
  .paperWrapper {
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  }
  .paragraph {
    width: 220px;
    font-size: 17px;
    line-height: 17px;
  }

  .logo {
    position: relative;
    left: 5px;
  }

  .aboutTitle {
    font-size: 27px;
    position: relative;
    right: 50px;
  }

  .boatIcon {
    margin-top: 60px;
    margin-bottom: 10px;
    margin-left: 90px;
  }

  .craneIcon {
    position: relative;
    margin-right: 35px;
  }

  .stepTitle {
    font-size: 27px;
    position: relative;
    right: 29px;
  }

  .aboutIcon {
    width: 140px;
    height: 140px;
  }

  .cameraIcon {
    width: 180px;
    height: auto;
    position: relative;
    bottom: 35px;
    margin-top: 60px;
  }

  .blobIcon {
    position: relative;
    bottom: 15px;
    margin-top: 30px;
  }

  .sponsorRow {
    margin-bottom: 10px;
    margin-top: 10px;
    width: auto; /* allow full width */
    white-space: nowrap; /* prevent line breaks */
    position: relative;
    right: 10px;
  }

  .sponsorText {
    font-size: 10px;
    position: relative;
    right: 13px;
    top: 5px;
  }

  .sponsorImage {
    height: 40px;
    position: relative;
    bottom: 40px;
  }

  .corner {
    width: 40px;
    height: 40px;
  }
}
